:root {
  /* text color */
  --text-color-title: #11142d;
  --text-color-body-1: #515151;
  --text-color-body-2: #9a9ab0;
  /* base color */
  --base-color-black: #000;
  --base-color-white: #fff;
  /* button color */
  --button-color-orange: #f86338;
  /* text link color */
  --text-link-color-white: #ffffff;
  --text-link-color-purple: #f3692e;
  /* system background */
  --system-background-primary: #ffffff;
  --system-background-secondary: #202020;
}

html,
body {
  background-color: #e5e5e5;
}
